beautifulsoup4==4.7.1
bs4==0.0.1
cffi==1.13.2
Click==7.0
cryptography==2.8
data==0.4
decorator==4.4.1
Django==2.2.24
django-widget-tweaks==1.4.5
Flask==1.1.1
Flask-MySQLdb==0.2.0
funcsigs==1.0.2
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mysql-connector-python==8.0.18
mysqlclient==1.4.5
numpy==1.16.2
protobuf==3.10.0
pycparser==2.19
PyMySQL==0.9.3
pytz==2019.3
six==1.13.0
soupsieve==1.9.1
sqlparse==0.3.0
Werkzeug==0.16.0
